input, textarea, button {
    outline: none;
    box-shadow:none !important;
}
header.top-header {
    background: #FACC15;
    text-transform: uppercase;
}

.btn-add {
    background-color: #FACC15;
    border: 1px solid #FACC15;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 10px;
}
.btn-add:hover{
    background-color: #ebc119;
    border: 1px solid #ebc119;
    color: #fff;
}
.todo-form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ebc119;
}

.todo-form {
    margin: 20px 0px;
}
.todo-form input:focus {
    outline: 2px solid #FACC15;
    border-color: #FACC15;
}
.incomplete-todo, .complete-todo {
    padding: 15px 10px;
    box-shadow: 0px 0px 20px 0px #ddd;
    border-radius: 10px;
}
.incomplete-todo p, .complete-todo p {
    font-weight: 500;
}
.incomplete-todo-icon span, .complete-todo span {
    cursor: pointer;
    margin: 0px 5px;
}

@media (max-width: 767px){
    .completed-task {
        margin-top: 20px;
    }
}
